@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Medium.ttf);
}

* {
    box-sizing: border-box;
}

html {
    background-color: #22252c;
    font-family: Poppins;
    color: #fefefe;
}

body {
    margin: 0;
}

.main-header {
    background: linear-gradient(to left, #30bb72, #0f9bb3);
    height: 70px;
    max-width: 1255px;
    margin: 15px 10px;
    border-radius: 50px;
}

.main-header .header-container {
    max-width: 1000px;
    padding: 0 20px;
    margin: auto;
}

.main-header .logo {
    font-size: 1.45rem;
    line-height: 0.845;
}

.nav-bar ul {
    margin: auto;
}

.nav-bar li {
    margin-inline-end: 70px;
    text-align: center;
}

.nav-bar .btn-gallery,
.btn-about {
    border: none;
    background-color: inherit;
    font-family: inherit;
}

.nav-bar .btn-about,
.btn-gallery {
    font-size: 1.25rem;
    color: #fefefe;
    width: 120px;
    height: 40px;
}

.nav-bar .btn-gallery:hover,
.btn-about:hover {
    width: 120px;
    height: 40px;
    background-color: #fefefe;
    color: #21ac91;
    border-radius: 50px;
}

.main-gallery {
    max-width: 1240px;
    margin: auto;
    background-color: #383b42;
    padding: 25px;
    border-radius: 10px;
}

.filter-area input {
    width: 500px;
    height: 55px;
    background-color: #22252c;
    border-radius: 50px;
    color: #6b6d72;
    font-size: 1.312rem;
    padding-left: 50px;
    border: none;
}

.filter-area .filter-by {
    width: 530px;
    height: 50px;
    background-color: #87898d;
    border-radius: 50px;
    color: #fefefe;
    font-size: 1.312rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.filter-area .btn-more {
    background: linear-gradient(to left, #30bb72, #0f9bb3);
    border-radius: 50px;
    border: none;
    width: 90px;
    height: 35px;
    margin-top: 10px;
    color: #fefefe;
}

.main-gallery .images-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 180px;
    border-radius: 10px;
    padding-top: 45px;
}

img {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    transition: border-radius 0.6s;
}

img:hover {
    border-radius: 50%;
}

.main-container {
    display: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.main-container .canvas-container .my-canvas {
    margin: 0 auto;
    border: 5px solid #393d48;
    border-radius: 20px;
    flex-basis: 50%;
}

.main-container .menu-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 450px;
    flex-basis: 50%;
    background-color: #393d48;
    border-radius: 20px;
    padding: 25px 40px;
    padding: 10px;
}

.menu-container .txt-input {
    height: 55px;
    width: 400px;
    background-color: #ebeef3;
    border-radius: 50px;
    font-family: inherit;
    color: #3d3d3d;
    text-align: center;
    font-size: 1.562rem;
}

.menu-container button,
input,
select {
    border-radius: 10px;
    font-family: inherit;
}

.menu-container .line-tools {
    margin: 15px 0;
}

.menu-container .font-tools {
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    background-color: #19a59f;
}

.font-tools .font-row {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px 10px;
}

.font-tools .font-selection {
    width: 235px;
    height: 40px;
}

.stroke-color button {
    text-decoration: underline;
    font-weight: bolder;
}

.img-extras {
    margin: auto;
}

.img-extras .share {
    display: flex;
}

.img-extras .upload {
    margin: 10px 0;
    background-color: #22252c;
    color: #fefefe;
}

.btn-save,
.btn-share,
.btn-download {
    width: 120px;
    height: 50px;
}

.img-extras a {
    text-decoration: none;
    color: #3d3d3d;
}


/* HELPERS */

.big {
    font-size: 1.812rem;
}

span {
    font-size: 1.062rem;
    margin: 5px;
    font-weight: 300;
}

.btn-tools {
    width: 50px;
    height: 50px;
}

.margin-10 {
    margin: 0 10px;
}

.margin-15 {
    margin: 0 15px;
}

.clean-list {
    list-style-type: none;
    text-decoration: none;
}

.margin {
    margin-inline-end: 20px;
}


/* FLEX */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}