@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}

* {
    box-sizing: border-box;
}

html {
    background-color: #22252c;
    font-family: Poppins-Medium;
    color: #fefefe;
}

body {
    margin: 0;
}

.main-header {
    background: linear-gradient(to left, #30bb72, #0f9bb3);
    height: 70px;
    margin: 15px 10px;
    border-radius: 50px;
    justify-content: space-between;
}

.main-header .header-container {
    margin: auto;
    max-width: 85vw;
    justify-content: space-between;
}

.main-header .logo {
    font-size: 1.45rem;
    line-height: 0.845;
    font-family: Poppins-Light;
}

.nav-bar ul {
    margin: auto;
}

.nav-bar li {
    margin-inline-end: 70px;
    text-align: center;
}

.nav-bar .btn-gallery,
.btn-about {
    border: none;
    background-color: inherit;
    font-family: inherit;
}

.nav-bar .btn-about,
.btn-gallery {
    font-size: 1.25rem;
    color: #fefefe;
    width: 120px;
    height: 40px;
}

.nav-bar .btn-gallery:hover,
.btn-about:hover {
    width: 120px;
    height: 40px;
    background-color: #fefefe;
    color: #21ac91;
    border-radius: 50px;
}

.main-gallery {
    max-height: 450px;
    overflow-y: auto;
    margin: auto;
    background-color: #383b42;
    padding: 25px;
    border-radius: 10px;
}

.main-gallery::-webkit-scrollbar {
    width: 10px;
}

.main-gallery::-webkit-scrollbar-track {
    background-color: #22252c;
    border-radius: 5px;
}

.main-gallery::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #30bb72, #0f9bb3);
    border-radius: 5px;
    height: 5px;
}

.filter-area {
    margin: auto;
}

.filter-area .filter-input input {
    height: 55px;
    background-color: #22252c;
    border-radius: 50px;
    color: #76787c;
    font-size: 1.312rem;
    text-align: left;
    padding-left: 40px;
    font-family: Poppins-Light;
    border: none;
    width: 40vw;
}

.filter-area .filter-by {
    height: 50px;
    background-color: #87898d;
    border-radius: 50px;
    color: #fefefe;
    font-size: 1.312rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    width: 40vw;
    font-size: 1.3rem;
}

.filter-by span {
    font-family: Poppins-Light;
    font-size: 1rem;
}

.filter-area .btn-more {
    background-color: #30bb72;
    border-radius: 50px;
    border: none;
    height: 35px;
    margin-top: 10px;
    color: #fefefe;
    font-family: Poppins-Light;
    width: 10vw;
}

.main-gallery .images-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: 230px;
    border-radius: 10px;
    padding-top: 45px;
    gap: 10px;
    margin: auto;
}

.main-gallery img {
    height: 230px;
    width: 230px;
    border-radius: 10px;
    transition: border-radius 0.6s;
}

.main-gallery img:hover {
    border-radius: 50%;
}

footer {
    background: linear-gradient(to left, #30bb72, #0f9bb3);
    height: 30px;
    margin: 15px auto;
    border-radius: 50px;
    font-size: 1.3rem;
    text-align: center;
}

.main-container {
    display: none;
    justify-content: space-between;
}

.main-container .canvas-container {
    margin: auto;
}

.canvas-container .my-canvas {
    margin: 0 auto;
    border: 5px solid #393d48;
    border-radius: 20px;
}

.main-container .menu-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 460px;
    background-color: #393d48;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

.menu-container .txt-input {
    height: 55px;
    width: 400px;
    background-color: #ebeef3;
    border-radius: 50px;
    font-family: inherit;
    color: #3d3d3d;
    text-align: center;
    font-size: 1.562rem;
    border: outset 5px white;
}

.menu-container button,
input,
select {
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
}

.menu-container .line-tools {
    margin: 15px 0 30px;
}

.menu-container .font-tools {
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    background-color: #19a59f;
}

.font-tools .font-row {
    display: flex;
    justify-content: space-evenly;
    padding: 7.5px 15px 5px;
}

.font-tools .font-selection {
    width: 235px;
    height: 40px;
}

.stroke-color span {
    text-decoration: underline;
    font-weight: bolder;
}

.row2 span {
    font-size: 1.8rem;
    color: #22252c;
    position: absolute;
    cursor: pointer;
}

.row2 input {
    height: 40px;
    width: 40px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.img-extras .share {
    display: flex;
    justify-content: space-evenly;
}

.img-extras .upload {
    margin: 10px 80px 0;
    background-color: #22252c;
    color: #fefefe;
}

.img-extras a {
    text-decoration: none;
    color: #22252c;
}


/* BUTTONS */

.header-container .btn-open,
.header-container .btn-close {
    display: none;
}

.header-container .btn-open {
    background-color: #30bb72;
    color: #30bb72;
    height: 35px;
    border: none;
}

.line-tools button {
    color: #fefefe;
    font-size: 1.5rem;
    border: none;
}

.line-tools .switch {
    background: linear-gradient(to bottom, #65dff5, #258bba);
    border: outset 5px #65dff5;
}

.line-tools .switch:hover {
    background: linear-gradient(to bottom, #aaecf8, #4894b8);
    border: outset 5px #aaecf8;
}

.line-tools .add-line {
    background: linear-gradient(to bottom, #63f779, #24a146);
    border: outset 5px #63f779;
}

.line-tools .add-line:hover {
    background: linear-gradient(to bottom, #9ef8ac, #53a368);
    border: outset 5px #9ef8ac;
}

.line-tools .remove-line {
    background: linear-gradient(to bottom, #f24646, #ab2020);
    border: outset 5px #f24646;
}

.line-tools .remove-line:hover {
    background: linear-gradient(to bottom, #f88585, #b14b4b);
    border: outset 5px #f88585;
}

.share .btn-save {
    background: linear-gradient(to bottom, #b1c1ee, #6fa9e7);
    border: outset 5px #a3baff;
}

.share .btn-save:hover {
    background: linear-gradient(to bottom, #cdd7f1, #90bbe9);
    border: outset 5px #cdd7f1;
}

.share .btn-share {
    background: linear-gradient(to bottom, #f5accd, #ec70ac);
    border: outset 5px #f5accd;
}

.share .btn-share:hover {
    background: linear-gradient(to bottom, #facae0, #f598c5);
    border: outset 5px #facae0;
}

.share .btn-download {
    background: linear-gradient(to bottom, #f2bdf7, #e776e7);
    border: outset 5px #f3a3fa;
}

.share .btn-download:hover {
    background: linear-gradient(to bottom, #f4dbf7, #e491e4);
    border: outset 5px #f4dbf7;
}

.font-tools .font-row button {
    color: #22252c;
    background-color: #ffff;
    font-size: 1.5rem;
    font-weight: bolder;
}

.font-tools select,
span {
    font-size: 1.3rem;
}

.btn-save,
.btn-share,
.btn-download {
    width: 140px;
    height: 50px;
    color: #22252c;
    margin: 0 5px;
}


/* HELPERS */

.big {
    font-size: 1.812rem;
}

span {
    font-size: 1.062rem;
    margin: 5px;
    font-weight: 300;
}

.btn-tools {
    width: 50px;
    height: 50px;
}

.margin-10 {
    margin: 0 10px;
}

.margin-15 {
    margin: 0 15px;
}

.clean-list {
    list-style-type: none;
    text-decoration: none;
}

.margin {
    margin-inline-end: 20px;
}


/* FLEX */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

@media (max-width:929px) {
    .nav-bar .btn-about,
    .btn-gallery {
        font-size: 1rem;
    }
    .filter-by span {
        font-size: 0.68em;
    }
    .header-container .btn-close,
    .header-container .btn-open {
        display: none;
    }
    .main-container {
        flex-direction: column;
        max-width: 90vw;
        margin: auto;
        gap: 10px;
    }
    .main-gallery .images-gallery {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: 180px;
        gap: 8px;
    }
    .images-gallery img {
        width: 180px;
        height: 180px;
    }
    .header-container .btn-open {
        background-color: #30bb72;
        color: #30bb72;
        height: 35px;
        border: none;
    }
}

@media (max-width:600px) {
    .main-header {
        margin: 15 auto 10px;
        height: 45px;
        padding-top: 5px
    }
    .main-header .header-container {
        max-width: 80vw;
    }
    .header-container .logo {
        font-size: 1.2rem;
        width: 30vw;
    }
    .filter-area {
        display: flex;
        flex-direction: column;
    }
    .filter-area .filter-input input {
        width: 100vw;
        height: 40px;
    }
    .filter-area .filter-row {
        margin-top: 5px;
    }
    .filter-area .filter-by {
        width: 60vw;
        height: 30px;
        margin: 0;
        margin-right: 5px;
        max-width: 60vw;
    }
    .filter-by span {
        font-size: 0.52rem;
    }
    .filter-area .btn-more {
        width: 20vw;
        margin: 0;
        height: 30px;
    }
    .main-container {
        flex-direction: column;
        max-width: 90vw;
        margin: auto;
        gap: 10px;
    }
    .main-gallery {
        max-height: 600px;
    }
    .main-gallery .images-gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-auto-rows: 120px;
        gap: 2px;
    }
    .images-gallery img {
        width: 120px;
        height: 120px;
    }
    .nav-bar {
        position: fixed;
        justify-content: space-evenly;
        right: 0;
        top: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 35vw;
        background-color: #22252cce;
        transform: translateX(100%);
        transition: transform 0.6s;
    }
    .nav-bar li {
        margin: autu;
    }
    body.menu-open .nav-bar {
        transform: translateX(0);
    }
    .header-container .btn-close {
        display: block;
        position: absolute;
        width: 20px;
        right: 20%;
        top: 3%;
        background-color: rgba(34, 34, 34, 0);
        color: rgb(241, 234, 234);
        font-size: 1.5rem;
        border: none;
    }
    .header-container .btn-open {
        display: block;
        font-size: 1.5rem;
        color: #30bb72;
        background-color: #fefefe;
        border-radius: 50%;
        border: none;
    }
    .main-container {
        flex-direction: column;
        max-width: 90vw;
        margin: auto;
        gap: 10px;
    }
    .main-container .menu-container {
        margin: auto;
        width: 370px;
        height: 350px;
        padding: 10px 0;
        gap: 0;
    }
    .my-canvas {
        height: 280px;
        width: 280px;
        margin: auto;
    }
    .menu-container .txt-input {
        width: 270px;
        height: 40px;
    }
    .menu-container .line-tools {
        width: 90vw;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-tools button {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
    .menu-container .font-tools {
        width: 360px;
        height: 120px;
    }
    .font-tools select {
        height: 5vh;
        margin-right: 10px;
        font-size: 1rem;
    }
    .img-extras .btn-save,
    .btn-share,
    .btn-download {
        width: 90px;
        height: 40px;
        margin: 5px 0;
        font-size: 0.5rem;
    }
    .img-extras span {
        font-size: 0.9rem;
    }
    footer {
        height: 20px;
        font-size: 0.8rem;
    }
}